In [1]:
from myserver import myserver
import pandas as pd
import json, requests

def getMeas(signal, dt):
    url = myserver + "/ora/medida.php?med=" + signal + "&dd=" + str(dt[2]) + "&mm=" + str(dt[1]) + "&yyyy=" + str(dt[0]) + ""
    try:
        response = requests.get(url).json()
        df_med = pd.DataFrame.from_dict(response)
        df_med['SIGNAL'] = signal
        df_med['TIME'] = pd.to_datetime(df_med['TIME'])
        df_med["VALUE"] = df_med["VALUE"].astype('float')
        df_med["Q"] = df_med["Q"].astype('category')

        return df_med
    except:
        print("No data")
        return []

In [2]:
### Ejemplo con 1 señal

In [3]:
t=[2020, 6, 0]
df = getMeas('RPIEDRAS_13.8_GN1_U', t)
df

                    TIME               SIGNAL    CODE  VALUE   Q
0    2020-06-01 00:00:00  RPIEDRAS_13.8_GN1_U  268238  13.92   5
1    2020-06-01 00:15:00  RPIEDRAS_13.8_GN1_U  268238  13.92   5
2    2020-06-01 00:30:00  RPIEDRAS_13.8_GN1_U  268238  13.93   5
3    2020-06-01 00:45:00  RPIEDRAS_13.8_GN1_U  268238  13.93   5
4    2020-06-01 01:00:00  RPIEDRAS_13.8_GN1_U  268238  13.94   5
...                  ...                  ...     ...    ...  ..
2875 2020-06-30 22:45:00  RPIEDRAS_13.8_GN1_U  268238  13.74   5
2876 2020-06-30 23:00:00  RPIEDRAS_13.8_GN1_U  268238  13.75  11
2877 2020-06-30 23:15:00  RPIEDRAS_13.8_GN1_U  268238  13.76   5
2878 2020-06-30 23:30:00  RPIEDRAS_13.8_GN1_U  268238  13.75   5
2879 2020-06-30 23:45:00  RPIEDRAS_13.8_GN1_U  268238  13.76   5

[2880 rows x 5 columns]

In [4]:
### Ejemplo con N señales

In [5]:
signals = [
'RPIEDRAS_13.8_GN1_P',
'RPIEDRAS_13.8_GN1_Q'
]

In [6]:
t=[2020, 6, 24]
df_medidas = pd.DataFrame()

for s in signals:
    df = getMeas(s, t)
    df_medidas = df_medidas.append(df, ignore_index = True)

In [7]:
df_medidas

                   TIME               SIGNAL    CODE  VALUE  Q
0   2020-06-24 00:00:00  RPIEDRAS_13.8_GN1_P  268235   8.25  9
1   2020-06-24 00:15:00  RPIEDRAS_13.8_GN1_P  268235   7.63  9
2   2020-06-24 00:30:00  RPIEDRAS_13.8_GN1_P  268235   7.43  9
3   2020-06-24 00:45:00  RPIEDRAS_13.8_GN1_P  268235   7.04  9
4   2020-06-24 01:00:00  RPIEDRAS_13.8_GN1_P  268235   7.06  9
..                  ...                  ...     ...    ... ..
187 2020-06-24 22:45:00  RPIEDRAS_13.8_GN1_Q  268236   0.63  9
188 2020-06-24 23:00:00  RPIEDRAS_13.8_GN1_Q  268236   0.67  9
189 2020-06-24 23:15:00  RPIEDRAS_13.8_GN1_Q  268236   0.63  9
190 2020-06-24 23:30:00  RPIEDRAS_13.8_GN1_Q  268236   0.63  9
191 2020-06-24 23:45:00  RPIEDRAS_13.8_GN1_Q  268236   0.64  9

[192 rows x 5 columns]

In [8]:
df_medidas.to_clipboard(excel=True, index=False, header=True)